@import "../../../variables";

:host {
  height: 100%;

  .mat-sidenav-container {
    height: 100%;
    background-color: $fednot-light-grey;

    .mat-sidenav {
      background-color: $fednot-dark-grey;
      min-width: 15vw;

      .mat-toolbar {
        background-color: $fednot-blue;
        color: white;
      }

      .mat-button {
        width: 100%;
        position: relative;
        bottom: 0;
        margin: 24px 0;
      }
    }

  }

  div {
    //height: 100%;
    .mat-toolbar {
      background-color: white;
    }

    .main {
      height: 100%;
      padding: 24px;
    }
  }
}
