@import "../../../../variables";

:host {
  .mat-nav-list {
    padding-top: 0;

    .nav-item {
      color: white;

    }
    .nav-sub-item {
      color: black;
    }
    .active {
      background-color: $fednot-light-grey;
      color: $fednot-blue;
    }

  }
}
